@model Inspired.Models.Coatpattern

@{
    ViewBag.Title = "Coatpattenr detail";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}


    <div>
        <h4>Coatpattern</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Model.name
            </dd>
    
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>

            <dd>
               @Html.Raw(@Model.detail)
            </dd>

        </dl>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.pic)
            </dt>

            <dd>
                @Html.Raw(@Model.pic)
            </dd>

        </dl>


    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
