@model Inspired.Models.Breed

@{
    ViewBag.Title = "Breed detail";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}
    <div>
        <h4>Breed</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>

            <dd>
                @Html.Raw(@Model.detail)
            </dd>

        </dl>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
