@model Inspired.Models.Catdiary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Catdiary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cat.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diary.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diary.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
