@using Inspired.Models;
@model Inspired.Models.Topic
@{
    ViewBag.Title = "Create topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui page centered celled grid">



    <div class="ui left aligned basic segment" style="width:70%;padding-left:0px;padding-right:0px;padding-top:0px">


        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyForum" class=" contropanel_menu item active">
                    My forum
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>










        </div>


        <div class="ui right close rail">
            <a href="/Forums/Create">
                <div class="ui center aligned  segment" style="color:#00b5ad!important;cursor:pointer;margin-top:0px">
                    <i class="add circle icon"></i>Read more about cat coat patterns and coat color
                </div>
            </a>
            <div class="ui segment">
                <div class="ui large teal label">
                    <i class="icon"><i class="fa fa-book"></i></i>My favorite topic
                </div>

            </div>


        </div>
        <div class="ui segment">
            <br />
            <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
                Create new topic
            </h4>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ForumCreate_Form" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui form">
                    <div class="field">
                        <label>Topic name</label>
                        <div class="ui input">
                            <input type="text" name="name">
                            @Html.ValidationMessageFor(model => model.name, "", new { @name = "name" })
                        </div>
                    </div>
                    <div class="field">
                        <label>Topic type</label>
                        <select name="topic" class="ui fluid dropdown" id="Topic_Type">
                            @{
                                List<Topictype> topictype = (List<Topictype>)ViewData["TopicType"];
                            }
                            @if (topictype != null && topictype.Count > 0)
                            {
                                <option>-- Please select topic type --</option>
                                foreach (var type in topictype)
                                {
                                    if (ViewData["Type"] != null && (int)ViewData["Type"] == type.id)
                                    {
                                        <option value="@type.id" selected>@type.name</option>
                                    }
                                    <option value="@type.id">@type.name</option>
                                }
                            }
                        </select>

                    </div>
                    <div id="Topic_form">
                        @{
                            if (ViewData["Type"] != null && (int)ViewData["Type"] == 3)
                            {
                                @Html.Partial("AdoptionForm");
                            }
                        }

                    </div>

                    <button class="ui right floated blue submit button Create_Button">Create</button>
                    <br />
                    <br />
                </div>
                }
    </div>
</div>
</div>
