@using Inspired.Models;
@model Inspired.Models.Diary
@{
    ViewBag.Title = "Create new Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui page centered celled grid">



    <div class="ui left aligned basic segment" style="width:70%;padding-left:0px;padding-right:0px;padding-top:0px">


        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item active">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyBoard" class=" contropanel_menu item">
                    My board
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>







        </div>


        <div class="ui right close rail">
            <div class="ui segment">
                <div class="ui large teal label">
                    <i class="icon"><i class="fa fa-book"></i></i>My follow diary
                </div>
                <div class="ui relaxed divided selection list">
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div class="ui segment">


            <div class="header" style="color:#0e566c">
                Create new diary
            </div>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="ui form">
        
                        <div class="field">
                            <label>Diary name</label>
                            <div class="ui left icon input">
                                <input type="text" name="name">
                                @Html.ValidationMessageFor(model => model.name, "", new { @name = "name" })
                            </div>
                        </div>
            
                    @if (ViewBag.DiaryNameError != null)
                    { <div class="ui basic segment" style="margin-top:-20px;margin-bottom:-5px;padding-left:0px">
                        <div class="ui red basic label">
                            <strong>Sorry!</strong> @ViewBag.DiaryNameError
                        </div>
                    </div>
                    }
                    <div class="field">
                        <label>Diary owner</label>
                        <select name="catsdiary" multiple="" class="ui fluid dropdown" id="service-dropdown">
                            @{
                                List<Cat> cats = (List<Cat>)ViewData["Cat"];
                            }
                            @if (cats != null && cats.Count > 0)
                            {
                                foreach (var cat in cats)
                                {
                                    <option value="@cat.id">@cat.name</option>
                                }
                            }
                        </select>

                    </div>
                    @if (ViewBag.DiaryOwnerError != null)
                    { <div class="ui basic segment" style="margin-top:-20px;margin-bottom:-5px;padding-left:0px">
                        <div class="ui red basic label">
                            <strong>Sorry!</strong> @ViewBag.DiaryOwnerError
                        </div>
                    </div>
                    }
                    <br />
                    <button class="fluid ui blue submit button">Create</button>
                </div>
                                }
        </div>

    </div>






    <div class="ui left aligned segment" style="width:70%">
        <div class="ui divided items">

        </div>


    </div>
</div>






