@using Inspired.Models;
@model Inspired.Models.Diary
@{
    ViewBag.Title = "Diary | setting";
    Layout = "~/Views/Shared/_CPLayout.cshtml";
}

<div class="ui centered  grid">
    <div class="twelve wide column" style="padding-right:30px">
        <div class="ui segment" style="background-color:white!important">

            <div class="ui form">
                <div class="field">
                    <label>Cover page</label>
                    <input type='file' />
                </div>

                <div class="fields">
                    <div class="sixteen wide field">
                        <label>Diary name</label>
                        <input type="text" placeholder="" value="@Model.name">
                    </div>
                </div>
                <div class="field">
                    <label>Short description</label>
                    <textarea rows="2"></textarea>
                </div>
                <div class="field">
                    <label>Cat owner</label>

                    <div class="ui four special cards">
                        @{
                            List<Cat> cats = (List<Cat>)ViewData["CatsOwnDiary"];
                        }
                        @if (cats != null && cats.Count > 0)
                        {
                            foreach (var cat in cats)
                            {
                                <div class="card">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <button data-id="@cat.id" class="DeleteOwner_Button btn btn-danger">Delete</button>

                                                </div>
                                            </div>
                                        </div>

                                        <img src="~/Content/pic/cat01.jpg">
                                    </div>

                                    <div class="content">
                                        <h5 class="ui header" style="text-align:center">@cat.name</h5>
                                    </div>
                                </div>

                            }
                        }
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui blue button" id="call_add_diary_owner">Add owner</div>
                                        </div>
                                    </div>
                                </div>

                                <img src="~/Content/pic/add.png">
                            </div>

                        </div>

                    </div>

                    <div class="ui divider"></div>
                    <button class="ui right floated primary button">
                        Save
                    </button>
                    <button class="ui right floated button">
                        Cancel
                    </button>
                    <br />
                    <br />
                </div>


            </div>
        </div>
    </div>
</div>

<div class="ui modal" id="add_diary_owner">
    <div class="header">My cats</div>
    <div class="content">
        <div class="ui four special cards">
            @{
                List<Cat> mycats = (List<Cat>)ViewData["SelectableCat"];
            }
            @if (mycats != null && mycats.Count > 0)
            {
                foreach (var cat in mycats)
                {
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui teal basic button AddOwner_Button" data-id="@cat.id" >Select cat</div>
                                    </div>
                                </div>
                            </div>

                            <img src="~/Content/pic/cat01.jpg">
                        </div>

                        <div class="content">
                            <h5 class="ui header" style="text-align:center">@cat.name</h5>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>