<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>
    <script src="https://code.ospry.io/v1/ospry.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body style="background-color:#ecf0f1">


    <div class="ui fixed inverted menu" style="background-color:#1297E0;border-color:wheat">
        <div class="ui container">
            <a href="#" class="header item" style="border:none;">
              <i class="paw icon"></i>  Cats In The Box
            </a>
@{
    if (Session["Authen"] != null)
    {
            <a href="/Home/Index" class="item">Home</a>
            <a href="/Home/AllDiary/Recent" class="item">Diary</a>
            <div class="ui simple dropdown item">
                Forum <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Forums/index">Main forum</a>
                    <div class="divider"></div>
                    <a class="item" href="#">News</a>
                    <a class="item" href="#">Article</a>
                    <div class="divider"></div>
                    <a class="item" href="#">Discusstion</a>
                    <div class="divider"></div>
                    <a class="item" href="#">Adoption</a>
                    <a class="item" href="#">Lost cat</a>
                    <a class="item" href="#">Find owner</a>
                </div>
            </div>


            <div class="right menu">

                <a href="/Accounts/Logout" class="ui item">
                    Logout
                </a>
            </div>

    }
    else
    {
        <div class="right menu">

            <a href="/Accounts/Login" class="ui item">
                Login
            </a>
            <a href="/Accounts/Register" class="ui item">
                Register
            </a>
        </div>
    }
}


        </div>

    </div>




    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
