@using Inspired.Models;
@model Inspired.Models.Cat

@{
    ViewBag.Title = "MyDiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 


<div class="ui page centered celled grid">
    <div class="ui left aligned basic segment" style="width:70%">
        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">@Html.Raw(Session["username"].ToString())
                        @Html.Raw(Session["accountid"].ToString())</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item active">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyBoard" class=" contropanel_menu item">
                    My board
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>







        </div>

        <div class="ui right close rail">
            sdas
        </div>
        <br />
        <h4 class="ui horizontal divider header" style="color:#FF7055;margin-top:-10px;overflow:auto!important">
            My cats
        </h4>
        <br />
        <div class="ui four special cards">
            @{
                List<Cat> cats = (List<Cat>)ViewData["Cats"];
            }
            @if (cats != null && cats.Count > 0)
            {
                foreach (var cat in cats)
                {
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui teal basic button">
                                            @Html.ActionLink(cat.name,"Details", "Cats", new {id = cat.id}, null)
                      
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <img src="~/Content/pic/cat02.jpg">
                        </div>

                        <div class="content">
                            <div class="ui red basic button DeleteCat_Button" data-id="@cat.id">Delete</div>
                        </div>
                    </div>
                }
            }
    

            

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui blue basic button" id="call_cat_profile_modal">Add new</div>
                            </div>
                        </div>
                    </div>

                    <img src="~/Content/pic/add.png">
                </div>

            </div>

        </div>


    </div>


</div>

             

<div id="create_cat_modal" class="ui modal">
    <div class="header" style="color:#0e566c">
        Create new cat profile
    </div>
    <div class="image content">

        <div class="description" style="width:65%">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <form class="ui form">
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" placeholder="name" name="name">
                            <i class="user icon"></i>

                            @Html.ValidationMessageFor(model => model.name, "", new { @name = "name" })

                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Gender</label>
                            <select class="ui fluid dropdown">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Life stage</label>
                            <select class="ui fluid dropdown">
                                <option value="ki">Kitten (0-6 months)</option>
                                <option value="ju">Junior (7 months-2 years)</option>
                                <option value="pr">Prime (3-6 years)</option>
                                <option value="ma">Mature (7-10 years)</option>
                                <option value="se">Senior (11-14 years)</option>
                                <option value="ge">Geriatric (15 years and over)</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Breed</label>
                        <select name="breed" multiple="" class="ui fluid dropdown" id="service-dropdown">
                            @{
                                List<Breed> breeds = (List<Breed>)ViewData["Breeds"];
                            }
                            @if (breeds != null && breeds.Count > 0)
                            {
                                foreach (var breed in breeds)
                                {
                                    <option>@breed.name</option>
                                }
                            }
                        </select>
                        <br />
                    </div>
                    <button class="fluid ui blue submit button">Create</button>
                </form>
                                }
        </div>
    </div>

</div>
}