@using Inspired.Models;
@model Inspired.Models.Diary
@{
    ViewBag.Title = "MyDiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui page centered celled grid">



    <div class="ui left aligned basic segment" style="width:70%;padding-left:0px;padding-right:0px;padding-top:0px">


        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item active">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyBoard" class=" contropanel_menu item">
                    My board
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>







        </div>


        <div class="ui right close rail">
            <div class="ui segment">
                <div class="ui large teal label">
                    <i class="icon"><i class="fa fa-book"></i></i>My follow diary
                </div>
                <div class="ui relaxed divided selection list">
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat1.png">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat2.png">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </a>
                    <a class="item">
                        <img class="ui avatar image" src="~/Content/pic/cat3.png">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </a>
                </div>
            </div>


        </div>
        <a href="/Diaries/Create">
            <div class="ui center aligned  segment" style="color:#00b5ad!important;cursor:pointer;margin-top:0px">
                <i class="add circle icon"></i> CREATE NEW DIARY
            </div>
        </a>
        <div class="ui segment">

            <div class="ui divided link items">
                @{
                    List<Diary> diaries = (List<Diary>)ViewData["Diary"];
                }
                @if (diaries != null && diaries.Count > 0)
                {
                    foreach (var diary in diaries)
                    {
                        <a class="item" href='@(Url.Action("Index", "Diaries", new { id = diary.id }, null))'>
                            <div class="ui tiny image">
                                <img src="~/Content/pic/cat01.jpg">
                            </div>
                            <div class="content">
                                <div class="header">@diary.name</div>
                                <div class="meta">
                                    <span class="price">
                                    @diary.description</span>
                                </div>
                                <div class="description">
                                    <p><span class="price">Create : @diary.timestamp</span></p>
                                </div>
                                <div class="description">
                                    <div class="ui right pointing teal basic label">
                                        Owner :
                                    </div>
                                 
                                    @{
                                        ViewData["CatsOwnDiary"] = diary.Catsdiaries.ToList();
                                        List<Catdiary> catowndiary = (List<Catdiary>)ViewData["CatsOwnDiary"];
                                    }
                                    @if (catowndiary != null)
                                    {
                                        foreach (var cat in catowndiary)
                                        {
                                            <div class="ui image label teal">
                                                <img src="~/Content/pic/cat2.png">
                                                @cat.Cat.name
                                            </div>
                                        
                                        }
                                    }

                                </div>
                            </div>
                        </a>
                                            }
                                        }
            </div>
        </div>
    </div>






    <div class="ui left aligned segment" style="width:70%">
        <div class="ui divided items">

        </div>


    </div>
</div>



