@using Inspired.Models;
@model Inspired.Models.Topic
@{
    ViewBag.Title = "My forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui page centered celled grid">
    <div class="ui left aligned basic segment" style="width:70%;padding-left:0px;padding-right:0px;padding-top:0px">
        <div class="ui left close rail" style="width:30%">
            <div class=" ui orange vertical fluid tabular menu">
                <a href="/Home/Index" class=" contropanel_menu item">
                    Home
                </a>

                <div class="ui card">
                    <br />
                    <div class="ui centered small image">
                        <img src="~/Content/pic/cat07.jpg">
                    </div>
                    <br />
                    <div class="content">
                        <a class="header">Kristy</a>
                        <div class="meta">
                            <span class="date">Joined in 2013</span>
                        </div>
                        <div class="description">
                            Chiang Mai
                        </div>
                    </div>
                    <div class="extra content">
                        <a style="color:#e74c3c !important">
                            <i class="fa fa-heart"></i>
                            Cats lover
                        </a>
                    </div>
                </div>


                <a href="/Home/MyDiary" class=" contropanel_menu item">
                    Diary
                </a>
                <a href="/Home/CatCensus" class=" contropanel_menu item">
                    Cat's Census
                </a>
                <a href="/Home/CatTimeline" class=" contropanel_menu item">
                    Cat's Timeline
                </a>
                <a href="/Home/MyForum/All" class=" contropanel_menu item active">
                    My forum
                </a>
                <a href="/Home/Profile" class=" contropanel_menu item">
                    Profile
                </a>
            </div>
        </div>


        <div class="ui right close rail">
            <a href="/Forums/Create">
                <div class="ui center aligned  segment" style="color:#00b5ad!important;cursor:pointer;margin-top:0px">
                    <i class="add circle icon"></i> CREATE NEW TOPIC
                </div>
            </a>
            <div class="ui segment">
                <div class="ui large teal label">
                    <i class="icon"><i class="fa fa-book"></i></i>My favorite topic
                </div>

            </div>
        </div>

        <div class="ui secondary pointing menu" id="Forum_Type">
            <a data-type="All" class="item myforum AllLink">
                All
            </a>
            @{
                List<Topictype> topictype = (List<Topictype>)ViewData["TopicType"];
            }
            @if (topictype != null && topictype.Count > 0)
            {
                foreach (var type in topictype)
                {
                    var TempClassName = type.name + "Link";
                    <a data-type="@type.name" class="item myforum @TempClassName">
                        @type.name
                    </a>
                }
            }
            @if (ViewData["Type"] != null)
            {
                if (ViewData["Type"].ToString().Equals("Adoption"))
                {
                    <div id="AdoptionActive" data-status="1"></div>
                }
                else if (ViewData["Type"].ToString().Equals("Discussion"))
                {
                    <div id="DiscussionActive" data-status="1"></div>
                }
                else if (ViewData["Type"].ToString().Equals("Findowner"))
                {
                    <div id="FindownerActive" data-status="1"></div>
                }
                else if (ViewData["Type"].ToString().Equals("Lostcat"))
                {
                    <div id="LostcatActive" data-status="1"></div>
                }
                else if (ViewData["Type"].ToString().Equals("SOS"))
                {
                    <div id="SOSActive" data-status="1"></div>
                }
                else
                {
                    <div id="AllActive" data-status="1"></div>
                }
            }
           


        </div>
        <div class="ui segment">
            <table class="ui very basic table">
                <tbody>
@{
    List<Topic> mytopic = (List<Topic>)ViewData["AllTopic"];
}
@if (mytopic != null && mytopic.Count >= 1)
{
    foreach (var topic in mytopic)
    {
                    <tr class="top aligned">
                        <td class="nine wide" style="padding-left:15px">

                            <div class="item">
                                <div class="content">
                                    <a class="header" style="font-family:Montserrat;font-size:16px">@topic.name</a>
                                    <div class="extra" style="padding-top:5px;font-size:14px;color:darkgrey !important">
                                      @topic.Topictype.name
                                        <br />
                                          View @topic.views | Comment
                                        <br />
                                        time: | @topic.timestamp

                                    </div>

                                </div>
                            </div>
                        </td>

                        <td class="six wide" style="text-align:center">
                            <button class="ui primary button">
                                Edit
                            </button>
                            <button class="ui red button">
                                Delete
                            </button>
                    
                            </tr>
    }
}
                </tbody>
            </table>
        </div>
    </div>





</div>
